{% extends "bootstrap/base.html" %}
{% block title %}Break The Silence{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
	<style>
		body
        {
            font-family: "Avenir", serif;
            background: darkslategrey;
            color: aliceblue;
        }

         .navbar-custom
         {
             background-color: #2a4646;
         }

        /* Modify brand and text color */
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-nav
        {
            color: aliceblue;
        }
	</style>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-custom" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Break The Silence</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/create">Make A Post</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
