{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
        form
        {
            margin-left: 17%;
            margin-right: 15%;
        }
        .terms{
            font-size:12px;
        }
	</style>
{% endblock %}

{% block title %}Tell Your Story{% endblock %}

{% block page_content %}
    <!--
    <div class="photo">
        <img class="center-block" src="../static/vcu.png" alt="LOGO" height="100px" width="250px">
    </div>
    -->
    <div class="page-header">
        <h1 class="text-center">Tell Your Story</h1>
    </div>
    {{ wtf.quick_form(form) }}
    <div class="terms">
    <p>No identifying information allowed. You confirm that you will be sharing. Do not post anything that is :
       <br> (a) threatening, harassing, degrading, hateful or intimidating. Respect the rights and dignity of others.
       <br> (b) defamatory, libelous, fraudulent.
        <br> (c) obscene, indecent, unless it's fair and accurate to your story or
        <br> (d) protected by copyright, trademark, trade secret, right of publicity or privacy </p>
    </div>
{% endblock %}
