{% extends "base.html" %}

{% block styles %}
{{ super() }}
	<style>
        form
        {
            margin-left: 17%;
            margin-right: 15%;
        }
        h2{
            font-size: 28px;
        }
        p{
            font-size: 20px;
        }
	</style>
{% endblock %}
{% block title %}Stories{% endblock %}

{% block page_content %}
    <div class="button-container">
    <button class="button" onclick="window.location.href='https://www.google.com'">Safety Exit</button>
    </div>
    <div class="page-header">
     <h1 class="text-center text-capitalize">
        Posts
    </h1>
    </div>

    {% for post in posts %}
		<div>
			<h2>{{ post.title }}</h2>
			<p>{{ post.content }}</p>
            <p>{{ post.date_created }}</p>
		</div>
		<hr>
	{% endfor %}

{% endblock %}